<header class="page-header page-header-left-breadcrumb">
	<div class="right-wrapper">
		<ol class="breadcrumbs">
			<li>
				<a href="index.html">
					<i class="bx bx-home-alt"></i>
				</a>
			</li>

			<li><span>Layouts</span></li>

			<li><span>Tab Navigation Light</span></li>

		</ol>

		<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
	</div>

	<h2 class="font-weight-semibold"></h2>
</header>





