<nav>
    <ul class="nav nav-pills">
        <li class="">
            <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                <i class="fas fa-home" aria-hidden="true"></i>Dashboard
            </a>
        </li>
        <li class="">
            <a class="nav-link" asp-area="Administration" asp-controller="Blog" asp-action="Index">
                <i class="fas fa-home" aria-hidden="true"></i>Posts
            </a>
        </li>
        <li class="">
            <a class="nav-link" asp-area="Administration" asp-controller="Pages" asp-action="Index">
                <i class="fas fa-home" aria-hidden="true"></i>Pages
            </a>
        </li>
        <li class="">
            <a class="nav-link" asp-area="Administration" asp-controller="Penalties" asp-action="Index">
                <i class="fas fa-home" aria-hidden="true"></i>Penalties
            </a>
        </li>
        <li class="">
            <a class="nav-link" asp-area="Administration" asp-controller="Feeds" asp-action="Index">
                <i class="fas fa-home" aria-hidden="true"></i>Feeds
            </a>
        </li>
        
        <li class="">
            <a class="nav-link" asp-area="Administration" asp-controller="FeedItems" asp-action="Index">
                <i class="fas fa-home" aria-hidden="true"></i>Feed Items
            </a>
        </li>
    </ul>
</nav>

