@page
@{
    ViewData["Title"] = "400 Bad Request";
    Layout = "_Layout";

    Response.StatusCode = 400;
}

<i class="fas fa-times-circle fa-5x mb-5 text-danger"></i>
<h2>Oops!</h2>
<h5>Something went wrong. Try again.</h5>
<a href="javascript:window.history.back();" class="btn btn-primary p-4 mt-5 w-50">Go back</a> 