<div class="logo-container">
	<a href="~/4.0.0" class="logo">
		<img src="img/logo-light.png" width="75" height="35" alt="Porto Admin" />
	</a>

	<div class="d-md-none toggle-menu" data-bs-toggle="collapse" data-bs-target=".tab-navigation">
		<i class="fas fa-bars" aria-label="Toggle Menu"></i>
	</div>

</div>




