@using KOM.Scribere.Common
@model int
@{
    var statusCode = Model;
    var statusmessage = string.Empty;
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad Request The Request Cannot Be Fulfilled Due To BadSyntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "PageNotFound";
            break;
        case 408:
            statusmessage = "The Server Timed Ou tWaiting For The Request";
            break;
        case 500:
            statusmessage = "Internal Server Error, Server Was Unable To Finish ProcessingT he Request";
            break;
        default:
            statusmessage = "Thats Odd Something We Didn't Expect Happened";
            break;
    }

    ViewData[GlobalConstants.Title] = statusmessage;
}

<div class="container">
    <h1>Error @Model</h1>
    <p>@statusmessage</p>
</div>