@using KOM.Scribere.Common
@{
    ViewData[GlobalConstants.Title] = "Offline";
}
<div class="container">
    <h1>Offline</h1>
    <p>The Page You Requested Cannot Be Shown Because You Are Offline</p>
</div>
